<h1>Welcome to Zander's Computers!</h1>
<p>At Zander's Computers we build custom desktops for whatever your needs. Simply make a free account, start adding parts to builds. Organize and keep track of your builds. If you are
satisfied with your build, simply add it to your cart. Once you checkout, we will assemble it all for you and arrange for delivery or pick-up! Zander's got you covered!</p>
