<p>
  <strong>Name: </strong>
  <%= @item.name %>
</p>
<p>
  <strong>Type: </strong>
  <%= @item.item_type %>
</p>

<%= image_tag (@item.image), :class => "itemImage" %>
 
<p>
  <strong>Description: </strong>
  <%= @item.description %>
</p>

