#search-form {
    margin: 20px 20px 20px 20px;
}

.main {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.mainNav {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #0d2c4c;
    width: 100%;
    z-index: 1;
}

.mainNav li {
    display: inline-block;
}

.mainNav li a {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 16px 50px;
    text-decoration: none;
}

.mainNav li a.current {
    background-color: #0d2c4c;
}

.mainNav li a:hover {
    background-color: #778899;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #0d2c4c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:#778899}

.dropdown:hover .dropdown-content {
    display: block;
}

.signIn {
    float: right;
    color: white;
    text-decoration: none;
    margin: 20px 20px 20px 20px;
    font-size: 1em;
}

.signIn a {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    color: white;
}

.signIn a:hover {
    background-color: #778899;
}

.form-control.searchBox {
    margin-top: 10px;
    margin-right: 10px;
    width:500px;
    height: 35px;
    float: left;
}

.form-control.category {
    width: 200px;
    height: 35px;
    margin-top: 10px;
}

.form-control.category.floater {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

.btn.btn-primary.searchSubmit {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.currentBuild {
   float:right; 
   margin-right: 20px;
}


@media only screen and (max-width: 780px) {
    body {
        margin:0;
    }
    .mainNav li {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .mainNav li {
        display: block;
        text-align: center;
    }
    .signIn {
        text-align: center;
    }
}
